body{
    background-color:black ;
    font-family: Georgia, 'Times New Roman', Times, serif;
padding-left: 15em;
}
ul.navbar{
list-style-type: none;
font-size: 25;
padding: 0%;
margin: 0%;
position: absolute;;
top: 2em;
right: 1em; 
width: 9em;
}
ul.navbar li{
    font-family:"Audiowide", sans-serif ;
    text-decoration: none;
    text
}
h1{
    font-size: 35px;
    font-family:"Audiowide", sans-serif;
    text-align: center;
    color: red;
    margin: 3em;
    }
img{
    padding: 0%;
    left: 3em;
    margin: 0%;
    position: absolute;
    top: 1em;
    width: 8em;
}
ul.icone{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: tomato;
    padding:1px    ;

}
ul.icone li{
    font-size:1.5em;
    margin: 2em;

}
.video{
margin-left:20em;
margin-bottom: 5em;
}
.input{
    display:flex;
    flex-direction: column;
    width: 15em;
    bottom: 2em;
}
.label{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
color: rgb(175, 102, 120);
}

 
